

body {
  display: flex;
  color: #fdffd8;
  background-image: url("https://images.unsplash.com/photo-1711062717294-8902df8cebe3?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: stretch;
  background-color: #2f754b;
  /* Use a system font, if none are available use an available sans-sarif */
  font-family: Rock salt, system-ui, sans-serif;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

/* DO NOT TOUCH .board per instructions */
.board {
  display: flex;
  flex-wrap: wrap;
  width: 325px;
}

.sqr {
  width: 30%;
  aspect-ratio: 1/1;
  border: 4px dashed #fdffd8;
  background-color: transparent;
  font-size: 64px;
  text-align: center;
  display: flex;
  line-height: 1;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 2px;
}

.button {
  background-color: transparent;
}



